<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
    
	<!-- Scripts using node.js variables (must be in .ejs) -->
    <script type='text/javascript'>
        $(function() {
			<!-- Load the test list -->
            <% test_array.forEach(function(item) { %>
				var desc = '';
				<% item.description.split(/(?:\r\n|\r|\n)/g).forEach(function(val) { %>
					desc += '<%= val %><br/>';
				<% }); %>
                loadTest('<%= item.title %>', desc);
            <% }); %>
			
			<!-- Create test instance headers -->
			var headerHTML = 
				"<li class='list-group-item list-group-item-info'>\
					<div class='row'>\
						<div class='col-sm-4'>Name (Email)</div>\
						<div class='col-sm-2'>Test Title</div>\
						<div class='col-sm-2'>Start Time</div>\
						<div class='col-sm-2'>End Time</div>\
						<div class='col-sm-2'></div>\
					</div>\
				</li>";
			$('#scheduled-tests').append(headerHTML);
			$('#in-progress-tests').append(headerHTML);
			$('#finished-tests').append(headerHTML);
			
			<!-- Load all of the test instances -->
            <% test_instances_array.forEach(function(item) { %>
                addInstance('<%= item.name %>', '<%= item.email %>', '<%= item.test_title %>', '<%= item.start_time %>', '<%= item.end_time %>', '<%= item.url %>', '<%= item.submission_filename %>');
            <% }); %>
			
			<!-- Display whether the database was successfully updated or not -->
			$('#success-fail').html(
				<% if (success != null) {
					if (success) { %>
						"<div id='alert-success' class='one-line-scroll alert alert-success fade in'>" + 
							"<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>" + 
							"<strong>Success!</strong> <%= success_title %> has been successfully " + 
							<% if (success_url != null) { %>
								"scheduled.<br/>" + 
								"This url will allow someone to take the test. Click here to copy it.<br/>" + 
								"<span id='url-text'><%= success_url %></span>" + 
							<% }
							else { %>
								"created." + 
							<% } %>
						"</div>"
					<% }
					else { %>
						"<div id='alert-fail' class='one-line-scroll alert alert-danger fade in'>" + 
							"<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>" + 
							"<strong>Fail!</strong><br/>" + 
							<% if (error_message != null) { %>
								"<%= error_message -%><br/>" + 
								"Please try again." + 
							<% }
							else { %>
								"No error message available, please try again." + 
							<% } %>
						"</div>"
					<% }
				} %>
			);
		});
	</script>
	
	<!-- Admin page script -->
	<!-- Must be after all other scripts -->
	<script type='text/javascript' src='/js/admin.js'></script>
</head>

<body>
<div class='container-fluid'>
	<div id='top-row' class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
			<h1 id='page-title' style='text-align:center; padding:10px;'>Dreamjob Deliverer</h1>
			
			<div id='success-fail'>
				<!-- Success or fail alert appears here -->
			</div>
			
			<div class='btn-group inline pull-left'>
				<button class='btn btn-primary' id='create-new-test'>Create New Test</button>
			</div>
			<div class='clearfix'></div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
            <div class='list-group scrolling-list' id='test-list'>
				<!-- List of tests will appear here -->
			</div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<br/>
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
			<ul id='tabs' class='nav nav-tabs'>
				<li class='active'><a data-toggle='tab' href='#scheduled-tab'>Scheduled</a></li>
				<li><a data-toggle='tab' href='#in-progress-tab'>In-Progress</a></li>
				<li><a data-toggle='tab' href='#finished-tab'>Finished</a></li>
			</ul>
			<div class='tab-content'>
				<div id='scheduled-tab' class='tab-pane fade in active'>
					<ul id='scheduled-tests' class='list-group scrolling-list'>
						<!-- <li class='list-group-item list-group-item-info'>
							<div class='row'>
								<div class='col-sm-4'>Name (Email)</div>
								<div class='col-sm-2'>Test Title</div>
								<div class='col-sm-2'>Start Time</div>
								<div class='col-sm-2'>End Time</div>
								<div class='col-sm-1'></div>
								<div class='col-sm-1'></div>
							</div>
						</li> -->
						<!-- scheduled tests appear here -->
					</ul>
				</div>
				<div id='in-progress-tab' class='tab-pane fade'>
					<ul id='in-progress-tests' class='scrolling-list'>
						<!-- <li class='list-group-item list-group-item-info'>
							<div class='row'>
								<div class='col-sm-4'>Name (Email)</div>
								<div class='col-sm-2'>Test Title</div>
								<div class='col-sm-2'>Start Time</div>
								<div class='col-sm-2'>End Time</div>
								<div class='col-sm-1'></div>
								<div class='col-sm-1'></div>
							</div>
						</li> -->
						<!-- in-progress tests appear here -->
					</ul>
				</div>
				<div id='finished-tab' class='tab-pane fade'>
					<ul id='finished-tests' class='scrolling-list'>
						<!-- <li class='list-group-item list-group-item-info'>
							<div class='row'>
								<div class='col-sm-3'>Name (Email)</div>
								<div class='col-sm-2'>Test Title</div>
								<div class='col-sm-2'>Start Time</div>
								<div class='col-sm-2'>End Time</div>
								<div class='col-sm-1'></div>
								<div class='col-sm-1'></div>
								<div class='col-sm-1'></div>
							</div>
						</li> -->
						<!-- finished tests appear here -->
					</ul>
				</div>
			</div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
</div>
</body>
</html>
