<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
    
	<!-- Scripts using node.js variables (must be in .ejs) -->
    <script type='text/javascript'>
        $(function() {
			<!-- Load the test list -->
            <% test_array.forEach(function(item) { %>
				var desc = '';
				<% item.description.split(/(?:\r\n|\r|\n)/g).forEach(function(val) { %>
					desc += '<%= val %><br/>';
				<% }); %>
                loadTest('<%= item.title %>', desc);
            <% }); %>
		
			<!-- Load all of the test instances -->
            <% test_instances_array.forEach(function(item) { %>
                addInstance('<%= item.name %>', '<%= item.email %>', '<%= item.test_title %>', '<%= item.start_time %>', '<%= item.end_time %>', '<%= item.url %>');
            <% }); %>
			
			<!-- Display whether the database was successfully updated or not -->
			$('#success-fail').html(
				<% if (success != null) {
					if (success) { %>
						"<div id='alert-success' class='one-line alert alert-success fade in'>" + 
							"<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>" + 
							"<strong>Success!</strong> <%= success_title %> has been successfully " + 
							<% if (schedule_url != null) { %>
								"scheduled.<br/>" + 
								"This url will allow someone to take the test. Click here to copy it.<br/>" + 
								"<span id='url-text'><%= schedule_url %></span>" + 
								"<input id='url-copy' type='hidden' />" + 
							<% }
							else { %>
								"created." + 
							<% } %>
						"</div>"
					<% }
					else { %>
						"<div id='alert-fail' class='alert alert-danger fade in' style='overflow-x: scroll;'>" + 
							"<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>" + 
							"<strong>Fail!</strong><br/>" + 
							<% if (error_message != null) { %>
								"<%= error_message -%><br/>" + 
								"Please try again." + 
							<% }
							else { %>
								"No error message available, please try again." + 
							<% } %>
						"</div>"
					<% }
				} %>
			);
		});
	</script>
	
	<!-- Admin page script -->
	<!-- Must be after all other scripts -->
	<script type='text/javascript' src='/js/admin.js'></script>
</head>

<body>
<div class='container-fluid'>
	<div id='top-row' class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
			<h1 id='page-title' style='text-align:center; padding:10px;'>Dreamjob Deliverer</h1>
			
			<div id='success-fail'></div>
			
			<!-- <span class='inline'>
				<h3 style='text-align:center;'>Test Library</h3>
			</span> -->
			<div class='btn-group inline pull-left'>
				<button class='btn btn-primary' id='create-new-test'>Create New Test</button>
			</div>
			<div class='clearfix'></div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
            <div class='list-group scrolling-list' id='test-list'></div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
			<ul id='tabs' class='nav nav-tabs'>
				<li class='active'><a data-toggle='tab' href='#scheduled-tests'>Scheduled</a></li>
				<li><a data-toggle='tab' href='#in-progress-tests'>In-Progress</a></li>
				<li><a data-toggle='tab' href='#finished-tests'>Finished</a></li>
			</ul>
			<div class='tab-content'>
				<div id='scheduled-tests' class='scrolling-list tab-pane fade in active'>
					<table class='table table-hover table-border'>
						<thead>
							<tr>
								<th>Name (Email)</th>
								<th>Test</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id='scheduled-tbody'>
						</tbody>
					</table>
				</div>
				<div id='in-progress-tests' class='scrolling-list tab-pane fade'>
					<table class='table table-hover table-border'>
						<thead>
							<tr>
								<th>Name (Email)</th>
								<th>Test</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id='in-progress-tbody'>
						</tbody>
					</table>
				</div>
				<div id='finished-tests' class='scrolling-list tab-pane fade'>
					<table class='table table-hover table-border'>
						<thead>
							<tr>
								<th>Name (Email)</th>
								<th>Test</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id='finished-tbody'>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
</div>
</body>
</html>
